.heading {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1em;
}

.right-side {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
}

.right-side > * {
  padding: 1em;
}
