.heading {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
}

.right-side {
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.right-side > * {
  padding: 1em;
}

.appname {
  padding: 1em;
}
