.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  border: 1px solid black;
}

.right-side {
  min-width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.planlist {
  width: 200px;
  max-width: 200px;
}

.right-side > * {
  padding: 1em;
}

.appname {
  padding: 1em;
  align-items: baseline;
}
